# Ignora tudo por padrão
*

# Permite o .gitignore em si
!.gitignore

# Permite o index.html da raiz (presencial)
!index.html

# Permite a pasta live e seu conteúdo (online)
!live/
!live/index.html

# Permite a pasta images
!images/